@import "modules/header.scss";
@import "modules/libs";
@import "modules/mediarequest.scss";

* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
a:link {
  text-decoration: none;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}




