header {
  color: #fff;
  a {
    color: inherit;
  }
  background: #002462 url("/assets/img/bg.png") no-repeat;
  background-size: cover;

  height: 100vh;
  /* ******************
   * Navigation Line on the top header block
   */
  .header_top_line {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 26px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);

    ul {
      list-style: none;

      li {
        padding: 5.5px 10px;
        display: inline-block;
      }

      a {
        color: inherit;
      }
    }

    .header_oneline {
      font-size: 15px;
    }

    .active {
      font-weight: normal;
      color: #4ED401;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.25);
      padding: 4px 10px;
    }
  }

  .header_menu {
    //border: 1px solid red;
    position: relative;
    height: 10vh;
    margin-top: 30px;
    img.logo {
      position: absolute;
      width: 18%;
      bottom: 0;
    }
    ul.main_menu {
      position: absolute;
      font-size: 20px;
      bottom: 3.5vh;
      right: 0;
      text-transform: lowercase;

      list-style: none;
      li {
        margin-left: 18px;
        color: #fff;
        display: inline;
      }

    }


  }
  .header_main_caption {
    text-align: center;
    h1 {
      margin: 15px 0px;
    }
    span {
      color: #FED530;
      font-weight: bold;
    }
    .header_level {
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #FED530;
    }
    .info {
      font-size: 14px;
      margin-top: 20px;
      text-align: center;
      span {
        margin-left: 8px;
        vertical-align: middle;
      }

      .rating {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        .rating_value {
          text-transform: lowercase;
          font-size: 13px;
          letter-spacing: 1px;
          font-weight: 800;
          position: absolute;
          right: 7px;
          top: 5px;
          color: #1e3c6d;
        }
      }

    }

  }



}
